/* Default typography styles */
p, h1, h2, h3, h4, h5, h6, ul, ol, pre, blockquote {
	margin-top: 15px;
	margin-bottom: 15px;
}

ul, ol {
	margin-left: 15px;
}
ul ul, ul ol, ol ul, ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

pre {
	background: #4F616E;
}

blockquote {
	border-left: 5px solid #C1C1C1;
	margin-left: 15px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

blockquote.upfront-quote-alternative {
	border-top: 1px solid #C1C1C1;
	border-bottom: 1px solid #C1C1C1;
	border-left: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.upfront-object-content h1 {
	color: rgb(153, 153, 153);
	font-family: Arial;
	font-size: 38px;
	font-weight: 600;
	font-style: normal;
}

.upfront-object-content p {
	color: rgb(94, 94, 94);
	font-family: Arial;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
}

/* Default button styles */
.upfront-output-ubutton a.upfront_cta {
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 2;
	border: none;
	border-radius: 20px 20px 20px 20px;
	background-color: rgb(64, 64, 64);
	transition: none;
}
