    'accordion' => array(
      {{ accordion }}
    ),
    'accordion_count' => {{ accordion_count }},
    'accordion_fixed_width' => '{{ accordion_fixed_width }}',
    'style_type' => '{{ style_type }}',
    'theme_style' => '{{ theme_style }}',
    'header_border_color' => '{{ header_border_color }}',
    'header_bg_color' => '{{ header_bg_color }}',
    'panel_bg_color' => '{{ panel_bg_color }}'
