    'code_selection_type' => '{{ code_selection_type }}',
    'markup' => '{{ markup.replace(/'/g, "\\'") }}',
    'script' => '{{ script.replace(/'/g, "\\'") }}',
    'style' => '{{ style.replace(/'/g, "\\'") }}'
