    'controls' => array({{ controls }}),
    'zoom' => '{{ zoom }}',
    'style' => '{{ style }}',
    'styles' => {{ styles }},
    'markers' => {{ markers }},
    'map_center' => array({{ map_center }}),
    'location' => '{{ location }}'
