    'controls' => array({{ controls }}),
    'zoom' => '{{ zoom }}',
    'style' => '{{ style }}',
    'styles' => {{ styles }},
    'markers' => array('lat' => {{ markers.lat }}, 'lng' => {{ markers.lng }}),
    'map_center' => array({{ map_center }}),
    'location' => '{{ location }}'
