    'menu_alignment' => '{{ menu_alignment }}',
    'menu_id' => {{ menu_id }},
    'menu_style' => '{{ menu_style }}',
    'allow_sub_nav' => array({{ allow_sub_nav }}),
    'allow_new_pages' => array({{ allow_new_pages }})
