    'content' => '{{ content.replace(/'/g, "\\'") }}',
    'has_settings' => 1,
    'bg_color_enabled' => array('{{ bg_color_enabled }}'),
    'bg_color' => '{{ bg_color }}',
    'border_enabled' => array('{{ border_enabled }}'),
    'border_width' => {{ border_width }},
    'border_color' => '{{ border_color }}',
    'border_style' => '{{ border_style }}',
    'background_color' => '{{ background_color }}'
