    'post_data' => array(
      {{ post_data }}
    ),
    'disable_resize' => {{ disable_resize }},                                                                                                                                                                         
    'disable_drag' => {{ disable_drag }}
