    'post_type' => '{{ post_type }}',
    'taxonomy' => '{{ taxonomy }}',
    'term' => '{{ term }}',
    'limit' => {{ limit }},
    'content_type' => '{{ content_type }}',
    'featured_image' => {{ featured_image }},
    'pagination' => {{ pagination }},
    'prev' => '{{ prev }}',
    'next' => '{{ next }}',
    'post_data' => array(
      {{ post_data }}
    )
