    'primaryStyle' => '{{ primaryStyle }}',
    'style' => '{{ style }}',
    'controls' => '{{ controls }}',
    'controlsWhen' => '{{ controlsWhen }}',
    'rotate' => array('{{ rotate[0] }}'),
    'rotateTime' => {{ rotateTime }},
    'transition' => '{{ transition }}',
    'slides' => array(
      {{ slides }}
    ),
    'rightImageWidth' => {{ rightImageWidth }},
    'rightWidth' => {{ rightWidth }}
