    'social_type' => '{{ social_type }}',
    'like_social_media_services' => array({{ like_social_media_services }}),
    'count_social_media_services' => array(),
    'button_size' => '{{ button_size }}',
    'button_style' => '{{ button_style }}',
    'call_social_media_services' => array(),
    'services' => array(
      {{ services }}
    ),
    'button_services' => array(
      {{ button_services }}
    ),
    'counter_options' => '{{ counter_options }}'
