    'tabs' => array(
      {{ tabs }}
    ),
    'tabs_count' => {{ tabs_count }},
    'tabs_fixed_width' => '{{ tabs_fixed_width }}',
    'style_type' => '{{ style_type }}',
    'theme_style' => '{{ theme_style }}',
    'custom_style' => '{{ custom_style }}',
    'active_tab_color' => '{{ active_tab_color }}',
    'active_tab_text_color' => '{{ active_tab_text_color }}',
    'inactive_tab_color' => '{{ inactive_tab_color }}',
    'inactive_tab_text_color' => '{{ inactive_tab_text_color }}'
