    'widget' => '{{ widget }}',
    'selected_widget' => '{{ selected_widget }}',
    'anchor' => '{{ anchor }}',
    'widget_specific_fields' => array(
      {{ widget_specific_fields }}
    ),
    {[ if (typeof title !== 'undefined') { ]}
    'title' => '{{ title }}',
    {[ } ]}
    {[ if (typeof sortby !== 'undefined') { ]}
    'sortby' => '{{ sortby }}',
    {[ } ]}
    {[ if (typeof exclude !== 'undefined') { ]}
    'exclude' => '{{ exclude }}'
    {[ } ]}
