          array(
            'original_description' => '{{ video.original_description }}',
            'description' => '{{ video.description }}',
            'title' => '{{ video.title }}',
            'thumbnail' => '{{ video.thumbnail }}',
            'id' => '{{ video.id }}'
          ),
