.upfront-inline-modal {

	/* Layouts browse modal */
	.thx-browse_layouts {

		padding: 0;

		.thx-layouts-header {
			padding: 16px;
			height: 48px;
			border-bottom: 1px solid #ccc;

			h3 {
				float: left;
			}
			a {
				display: block;
				float: right;
				text-decoration: none;
				font-size: 32px;
				color: #000;
			}
		}

		.thx-layouts-pane {
			padding: 16px;
			border-top: 1px solid #fff;

			&.existing {
				background-color: #e5f3ff;
			}
			&.available {
				background-color: #c8e1f6;
			}

			.upfront-field-button {
				background: #1fcd8f;
				padding: 10px;
				color: white;
				font-size: 15px;
			}
		}

	}

	.thx-all_layouts {
		.thx-layouts-pane {
			width: 50%;
			float: left;
		}
	}


}

/* Getting Started Experience */
#upfront-popup.getting-started-popup {
	max-width: 520px;
	margin: initial;
	z-index: 100010042;
	left: 280px;

	&.builder-activate-theme-popup {
		left: 0;
		margin: 100px auto;
		text-align: center;
		
		.getting_started_content {
			border: 1px solid #fff;
			background: #e5f3ff;
			-moz-box-shadow: 0 0 20px rgba(39,58,76,.8);
			-webkit-box-shadow: 0 0 20px rgba(39,58,76,.8);
			box-shadow: 0 0 20px rgba(39,58,76,.8);
			border-radius: 0;
			
			.description {
				color: #1c2d3d;
				font-size: 16px;
				padding-bottom: 10px;
				
				h3 {
					color: #1c2d3d;
				}
			}
			
			.controls {
				position: relative;
				padding-bottom: 40px;
				
				button {
					font-size: 14px;
					padding: 0 20px;
					line-height: 40px;
					height: 40px;
					text-align: center;
					color: #7190af;
					border: 1px solid #b2cbe2;
					border-radius: 3px;
					background: #f9fcff;
					font-family: Verdana,sans serif;
				}
				
				button:last-child {
					margin-left: 20px;
				}
			}
		}
		
		
	}
	
	&.builder-activate-theme-popup:before {
		content: none;
	}
	
	&:before {
		border-bottom: 8px solid transparent;
		border-top: 8px solid transparent;
		border-right: 8px solid #fff;
		content: '';
		height: 0;
		margin-left: -8px;
		margin-top: 95px;
		position: absolute;
		width: 0;
	}
	
	#upfront-popup-close {
		display: none;
	}
	
	.getting_started_content {
		background: #fff;
		position: relative;
		border-radius: 5px;
		
		.description {
			padding: 30px;
			line-height: 1.4;
			
			h3 {
				font-size: 20px;
				color: rgba(26,44,64,0.50);
				font-weight: bold;
			}
			
			strong {
				font-weight: bold;
			}
			
			a {
				border-bottom: 1px solid rgba(55, 147, 255,.6);
				color: rgb(55, 147, 255);
				font-weight: 600;
				padding-bottom: 2px;
			}
		}
		
		.controls {
			position: absolute;
			width: 100%;
			padding: 10px 30px 0 30px;
			
			.left {
				float: left;
			}
			.right {
				float: right;
			}
			&:after {
				content: ' ';
				display: table;
				clear: both;
			}
			
			button, .pagination {
				display: inline-block;
				width: auto;
				padding-left: 15px;
				padding-right: 15px;
			}
			
			.pagination {
				padding-left: 0;
				color: rgb(185, 185, 185);
				font-size: 18px;
				
				strong {
					color: #fff;
					padding-right: 5px;
				}
				
				em {
					font-style: italic;
					font-family: Georgia, Times, serif;
					padding-right: 5px;
				}
			}
			
			button {
				background: rgb(64, 160, 255);
				border: none;
				border-radius: 2px;
				padding: 5px 20px;
				color: #fff;
				text-transform: none;
			}
			
			button.skip {
				border: none;
				color: rgb(101, 188, 240);
				font-weight: 600;
				background: transparent;
			}
			
			button.prev {
				background: transparent;
				margin-right: 10px;
			}
		}
	}
}

#sidebar-ui .no-click-overlay {
	position: absolute;
	width: 100%;
	height: 450px;
	z-index: 10;
	background: transparent;
	margin-left: -15px;
	cursor: initial;
	background: none !important;
}

#sidebar-ui .no-click-overlay.highlighted {
	background: rgb(1, 61, 97);
	height: 100%;
	margin-top: -15px;
	z-index: -1;
}

#sidebar-ui.show-primary-sidebar {
	z-index: 10001004;
	
	ul.sidebar-commands-primary {
		z-index: 11;
		position: relative;
		-moz-box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
		-webkit-box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
		box-shadow: 0 0 10px 4999px rgba(26,45,64,.9);
		
		li.no-click-overlay {
			cursor: initial;
		}
	}
	
	li.sidebar-panel-elements {
		.sidebar-panel-content {
			height: auto;
		}
	}
}

#sidebar-ui.show-sidebar-panel-settings {
	z-index: 10001004;
	
	li.sidebar-panel-settings {
		z-index: 11;
		position: relative;
		-moz-box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
		-webkit-box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
		box-shadow: 0 0 10px 4999px rgba(26,45,64,.9);
		
		.sidebar-panel-content {
			height: auto;
		}
		
		.no-click-overlay {
			margin-left: 0;
		}
	}
}

#sidebar-ui.show-sidebar-commands-control {
	z-index: 10001004;
	
	ul.sidebar-commands-control {
		z-index: 11;
		position: relative;
		-moz-box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
		-webkit-box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
		box-shadow: 0 0 10px 4999px rgba(26,45,64,.9);
		
		li.no-click-overlay {
			height: 400px;
			margin: 0;
			padding: 0;
			cursor: initial;
		}
		
		&:after {
			content: '';
			display: table;
			clear: both;
			padding-bottom: 15px;
		}
	}
	
	li.sidebar-panel-elements {
		.sidebar-panel-content {
			height: auto;
		}
	}
}

#upfront-popup.getting-started-popup.step-two-popup {
	top: 200px;
  left: 280px;
}

#upfront-popup.getting-started-popup.step-three-popup {
	top: 310px;
	left: 280px;
	
	&:before {
		margin-top: 110px;
	}
	
	.getting_started_content {
	
		.controls {
			top: -45px;
			padding: 0 30px 10px 30px;
		}
	}
}

#upfront-popup-background.transparent {
	background: transparent;
}

.upfront-structure-modal {
	.upfront-field-wrap .upfront-field-label-block {
		font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
		color: #27394b;
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 20px;
	}
	.upfront-field-multiple-vertical {
		margin-right: 38px;
	}
	.upfront-field-multiple-vertical:last-child {
		margin-right: 0;
	}
	.upfront-field-multiple-horizontal-inline {
		margin-right: 60px;
	}

	.upfront-edit-grid-wrap {
		margin: 0 0 10px;
	}
	.upfront-edit-grid {
		width: 190px;
		margin-right: 20px;
		float: left;
	}
	.upfront-edit-grid-custom {
		width: 280px;
	}
	.upfront-edit-page-color {
		float: left;
		width: 190px;
	}
	.upfront-grid-width-preview {
		color: #85a9cb;
		font-family: "Verdana";
		font-size: 11px;
		line-height: 12px;
		margin-top: 10px;
	}
	.upfront-edit-grid-custom .upfront-grid-width-preview {
		float: right;
		margin-top: -21px;
	}
	.upfront-edit-grid-custom .upfront-field-number[type=number] {
		width: 50px;
	}

	.upfront-edit-page-color .upfront-field-wrap-color {
		line-height: 30px;
	}
	.upfront-edit-page-color .upfront-field-wrap-color label {
		float: none;
	}
}



