.upfront-inline-modal {

	/* Layouts browse modal */
	.thx-browse_layouts {

		padding: 0;

		.thx-layouts-header {
			padding: 16px;
			height: 48px;
			border-bottom: 1px solid #ccc;

			h3 {
				float: left;
			}
			a {
				display: block;
				float: right;
				text-decoration: none;
				font-size: 32px;
				color: #000;
			}
		}

		.thx-layouts-pane {
			padding: 16px;
			border-top: 1px solid #fff;

			&.existing {
				background-color: #e5f3ff;
			}
			&.available {
				background-color: #c8e1f6;
			}

			.upfront-field-button {
				background: #1fcd8f;
				padding: 10px;
				color: white;
				font-size: 15px;
			}
		}
		
	}
	
	.thx-all_layouts {
		.thx-layouts-pane {
			width: 50%;
			float: left;
		}
	}


}

/* Getting Started Experience */
#upfront-popup.getting-started-popup {
	max-width: 520px;
	margin: initial;
	z-index: 10001005;
	left: 250px;
	
	&:before {
		border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #fff;
    content: '';
    height: 0;
    margin-left: -8px;
		margin-top: 95px;
    position: absolute;
    width: 0;
	}
	
	#upfront-popup-close {
		display: none;
	}
	
	.getting_started_content {
		background: #fff;
		position: relative;
		border-radius: 5px;
		
		.controls {
			position: absolute;
			width: 100%;
			padding: 10px 30px 0 30px;
			
			.left {
				float: left;
			}
			.right {
				float: right;
			}
			&:after {
				content: ' ';
				display: table;
				clear: both;
			}
			
			button, .pagination {
				display: inline-block;
				width: auto;
				padding-left: 15px;
				padding-right: 15px;
			}
			
			.pagination {
				padding-left: 0;
			}
			
			button.skip {
				border: none;
				color: blue;
			}
		}
	}
}

#sidebar-ui .no-click-overlay {
	position: absolute;
	width: 100%;
	height: 450px;
	z-index: 10;
	background: transparent;
	margin-left: -15px;
	cursor: initial;
}

#sidebar-ui.show-primary-sidebar {
	z-index: 10001004;
	
	#preventUsageOverlay {
		display: block;
	}
	
	ul.sidebar-commands-primary {
		z-index: 11;
		position: relative;
		
		li.no-click-overlay {
			cursor: initial;
		}
	}
}

#sidebar-ui.show-sidebar-panel-settings {
	z-index: 10001004;
	
	#preventUsageOverlay {
		display: block;
	}
	
	li.sidebar-panel-settings {
		z-index: 11;
		position: relative;
		
		.sidebar-panel-content {
			height: auto;
		}
		
		.no-click-overlay {
			margin-left: 0;
		}
	}
}

#sidebar-ui.show-sidebar-commands-control {
	z-index: 10001004;
	
	#preventUsageOverlay {
		display: block;
	}
	
	ul.sidebar-commands-control {
		z-index: 11;
		position: relative;
		
		li.no-click-overlay {
			height: 400px;
			margin: 0;
			padding: 0;
			cursor: initial;
		}
	}
}

#upfront-popup.getting-started-popup.step-two-popup {
	top: 200px;
  left: 280px;
}

#upfront-popup.getting-started-popup.step-three-popup {
	top: 190px;
  left: 265px;
	
	&:before {
		margin-top: 70px;
	}
	
	.getting_started_content {
	
		.controls {
			top: -55px;
			padding: 0 30px 10px 30px;
		}
	}
}


