.upfront-export-postpart {
  position: absolute;
  bottom: 10px;
  right: 80px;
  border: 2px solid #3d5266;
  color: #dae6f2 !important;
  padding: 3px 7px;
  font-size: 14px;
}
.upfront-export-postpart:hover {
  border-color: #3ea;
}