#sidebar-ui .create-theme-sidebar .sidebar-commands-primary {

	.info-panel {
		font-size: 15px;

		b {
			font-weight: bold;
		}
	}
	
	.command-browse-layout {
		float: left;
	}

	.command-open-exporter_media {
		max-width: 120px;

		a {
			text-decoration: underline;
			color: #1fcd8f;
			font-size: 12px;
			display: block;
		}
	}
}

#sidebar-ui .sidebar-commands-responsive {
	.command-browse-layout {
		background: #54708C;
		box-shadow: 0px 1px 0px 0px #2F3E4D, inset 0px 2px 0px 0px rgba(255, 255, 255, 0.1);
		line-height: 34px;
		padding: 0 10px;
		border: 2px solid #25394d;
		font-size: 15px;
		height: 40px;
		max-width: 110px;
	}
}