${{ regionName }} = upfront_create_region(
  array(
    'name' => '{{ regionName }}',
    'title' => __('{{ regionName }}'),
    'type' => '{{regionType}}',
    'scope' => 'local'
  ),
  array({[ _.each(backgroundProperties, function(value, key) { ]}
    '{{ key }}' => {{ value }},
    {[ }) ]})
);

{[ _.each(modules, function(module) { ]}
{{ module }}
{[ }); ]}

$regions->add(${{regionName}});
