<div>
	<script type="text/template" id="upfront-getting-started-step-one-tpl">
		<div class="description">
			Themes are made up of <strong>Layouts</strong>. By default, Upfront will create Homepage, Archive, 404 and Single Post Layouts for new theme. You can modify those created layout or add new ones by clicking <strong>Layouts</strong>.
			<br/><br/>
			<strong>Media</strong> and <strong>UI / Sprites</strong> links take you to their respective Media Manager. The former is for ordinary images that will be accesiblee through Media Manager on exported theme. The UI / Sprites is for Theme Assets, those are images that you might use as part of theme UI, but do not want to make available in Media panel, e.g. custom icons, slider arrows etc.
		</div>
		<div class="controls">
			<div class="left"><div class="pagination"><strong>1</strong> <em>of</em> 3</div><button class="skip" type="button">SKIP TOUR</button></div>
			<div class="right"><button class="next step-one">Next &raquo;</button></div>
		</div>
	</script>
	<script type="text/template" id="upfront-getting-started-step-two-tpl">
		<div class="description">
			The default typography styles use system fonts by default, but you can replace these with any Google Fonts. Just click Fonts Manager to get started.
			<br/><br/>
			<strong>Tip:</strong> We recommend you set up your preferred fonts and colors early on so that you can create Presets for elements using the Theme Colors setting.
		</div>
		<div class="controls">
			<div class="left"><div class="pagination"><strong>2</strong> <em>of</em> 3</div><button class="skip" type="button">SKIP TOUR</button></div>
			<div class="right"><button class="prev step-two">&laquo; Previous</button><button class="next step-two">Next &raquo;</button></div>
		</div>
	</script>
	<script type="text/template" id="upfront-getting-started-step-three-tpl">
		<div class="controls">
			<div class="left"><div class="pagination"><strong>3</strong> <em>of</em> 3</div><button class="skip" type="button">SKIP TOUR</button></div>
			<div class="right"><button class="prev step-three">&laquo; Previous</button><button class="finish step-three">Finish</button></div>
		</div>
		<div class="description">
			Don't forget to view your site in responsive mode and make adjustments for different devices. Upfront also includes a handy export feature so you can save your Layouts. Lastly, you can check your theme at any time by activating it.
			<br/><br/>
			Have fun building!
			<br/><br/>
			Learn more: <a href="https://premium.wpmudev.org/blog/upfront-responsive/" target="_blank">Building an Upfront Theme</a>
		</div>
	</script>
</div>