<div>
	<script type="text/template" id="upfront-getting-started-step-one-tpl">
		<div class="description">
			<h3>Welcome to Builder!</h3>
			<br/>
			Let's do a quick tour :)
			<br/><br/>
			<strong>Layouts</strong> - This is what Upfront themes are made of... like a regular WP theme you'll find homepage, single post, archive etc. here.
			<br/><br/>
			<strong>Media</strong> - Allows you to upload, erm, media, yay!
			<br/><br/>
			<strong>UI / Sprites</strong> - Advanced & for you fancy designer/developers... manage your sprite files here.
		</div>
		<div class="controls">
			<div class="left"><div class="pagination"><strong>1</strong> <em>of</em> 3</div></div>
			<div class="right"><button class="next step-one">Next &raquo;</button></div>
		</div>
	</script>
	<script type="text/template" id="upfront-getting-started-step-two-tpl">
		<div class="description">
			<h3>Set your Fonts! Do it Early!</h3>
			<br/>
			Choose from over <strong>750</strong> Google Font Families.
			<br/><br/>
			Or just be really boring and stick with default system fonts.
			<br/><br/>
			Tip... best to choose your fonts and colors early, 'cos that means you can create presets which will save you heaps of time.
		</div>
		<div class="controls">
			<div class="left"><div class="pagination"><strong>2</strong> <em>of</em> 3</div></div>
			<div class="right"><button class="prev step-two">&laquo; Previous</button><button class="next step-two">Next &raquo;</button></div>
		</div>
	</script>
	<script type="text/template" id="upfront-getting-started-step-three-tpl">
		<div class="controls">
			<div class="left"><div class="pagination"><strong>3</strong> <em>of</em> 3</div></div>
			<div class="right"><button class="prev step-three">&laquo; Previous</button><button class="finish step-three">Finish</button></div>
		</div>
		<div class="description">
			<h3>Get Responsive! Get Saving!</h3>
			<br/>
			Hit this button to check out how your site looks on different devices. There’s also a grid option, too, for lining up stuff nicely.
			<br/><br/>
			And, when you’re done, all you need to do is click “Save Theme.” How easy is that?
			<br/><br/>
			Oh, and you can review this stuff and find out heaps more here - <a target="_blank" href="https://premium.wpmudev.org/upfront-documentation/upfront-builder/">Building an Upfront Theme</a>. Bookmark it!
		</div>
	</script>
</div>
