<div>
	<script type="text/template" id="upfront-getting-started-step-one-tpl">
		<div class="description">
			Themes are made up of <strong>Layouts</strong>. By default, Upfront will create Homepage, Archive, 404 and Single Post Layouts for new theme. You can modify those created layout or add new ones by clicking <strong>Layouts</strong>.
			<br/><br/>
			<strong>Media</strong> and <strong>UI / Sprites</strong> links take you to their respective Media Manager. The former is for ordinary images that will be accesiblee through Media Manager on exported theme. The UI / Sprites is for Theme Assets, those are images that you might use as part of theme UI, but do not want to make available in Media panel, e.g. custom icons, slider arrows etc.
		</div>
		<div class="controls">
			<div class="left"><div class="pagination"><strong>1</strong> of 3</div><button class="skip" type="button">SKIP TOUR</button></div>
			<div class="right"><button class="next step-one">Next >></button></div>
		</div>
	</script>
	<script type="text/template" id="upfront-getting-started-step-two-tpl">
		<div class="description">
			We have Default Typography styles set-up using System Fonts, don't forget to go throught the Theme Typography & Colors and set them up.
			<br/><br/>
			It is highly recommended that you do this early, so that you can create Preset for elements using Theme Colors.
		</div>
		<div class="controls">
			<div class="left"><div class="pagination"><strong>2</strong> of 3</div><button class="skip" type="button">SKIP TOUR</button></div>
			<div class="right"><button class="prev step-two"><< Previous</button><button class="next step-two">Next >></button></div>
		</div>
	</script>
	<script type="text/template" id="upfront-getting-started-step-three-tpl">
		<div class="controls">
			<div class="left"><div class="pagination"><strong>3</strong> of 3</div><button class="skip" type="button">SKIP TOUR</button></div>
			<div class="right"><button class="prev step-three"><< Previous</button><button class="finish step-three">Finish</button></div>
		</div>
		<div class="description">
			Lastly, don't forget to set-up your responsive appearance for each of the Layouts. You can export at any time, and check your theme by activating it. Have fun building!
			<br/><br/>
			Learn more: <a href="https://premium.wpmudev.org/blog/upfront-responsive/">Building an Upfront Theme</a>
		</div>
	</script>
</div>