<h1>Header 1</h1>
<p>Some test text</p>
<h2>Header 2</h2>
<p>Some other test text</p>
<h3>Header 3</h3>
<p>Upfront is awesome</p>
<h4>Header 4</h4>
<p>This is a layout test</p>
<h5>Header 5</h5>
<p>This is a layout test</p>
<h6>Header 6</h6>
<p>Paragraph test: 3 wolf moon <a class="#">link test</a>, <strong>strong tag test, used by WP for bold text</strong> kogi direct <i>i tag test</i>trade hoodie flexitarian umami <b>b tag test</b>selvage jean shorts brunch paleo

  cray craft beer. +1 meggings <em>em tag test, used by WP for italic text</em> crucifix VHS kogi. Raw denim Vice vegan, <a class="#">link test</a> seitan XOXO meggings irony butcher 8-bit chillwave. PBR try-hard slow-carb vinyl stumptown, polaroid pour-over Portland tattooed twee. Ethnic ennui you probably haven't heard of them, bicycle rights kitsch four loko salvia gluten-free butcher iPhone Williamsburg Tonx Pitchfork. Lomo selvage fap Williamsburg sustainable cred. Helvetica chia Tonx, polaroid butcher sartorial cray PBR.</p>

<pre>for (i=0; i&lt;l; i++) { reorder( items[i], az ); }</pre>

<h3>List tests</h3>
<h4>Unordered lists</h4>
<ul>
  <li>Element 1</li>
  <li>Element 2: this has a long text. loko salvia gluten-free butcher iPhone Williamsburg Tonx Pitchfork. Lomo selvage fap Williamsburg sustainable cred. Helvetica chia Tonx, polaroid butcher sartorial cray PBR.</li>
  <li>Element 3: nested list
    <ul>
      <li>Element 3.1</li>
      <li>Element 3.2</li>
      <li>Element 3.2</li>
    </ul>
  </li>
  <li>Element 4</li>
</ul>

<h4>Ordered lists</h4>
<ol>
  <li>Element 1</li>
  <li>Element 2: this has a long text. loko salvia gluten-free butcher iPhone Williamsburg Tonx Pitchfork. Lomo selvage fap Williamsburg sustainable cred. Helvetica chia Tonx, polaroid butcher sartorial cray PBR.</li>
  <li>Element 3: nested list
    <ol>
      <li>Element 3.1</li>
      <li>Element 3.2</li>
      <li>Element 3.2</li>
    </ol>
  </li>
  <li>Element 4</li>
</ol>

<div id="upfront-image-variants"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid maxime nam saepe temporibus totam. Asperiores aspernatur eveniet illum quisquam repudiandae veritatis. Doloribus ea necessitatibus sit tempora totam. Eaque, recusandae voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aperiam debitis, distinctio exercitationem facilis inventore labore minima odio provident! Accusantium deserunt dolores ea necessitatibus provident, quod saepe tempora voluptates.</p>


<h3>Quote tests</h3>

<blockquote>This is a standard quote. Fingerstache master cleanse ugh, Echo Park ethnic before they sold out Shoreditch Pinterest Intelligentsia Austin retro street art DIY vinyl. Gluten-free retro put a bird on it Intelligentsia flexitarian, gastropub banjo skateboard try-hard Neutra lomo church-key chia.</blockquote>
<blockquote class="upfront-quote-alternative">This is quote with an alternative style created by upfront . These quotes has the class 'upfront-quote-alternative'. Intelligentsia Austin retro street art DIY vinyl. Gluten-free retro put a bird on it Intelligentsia flexitarian, gastropub banjo skateboard try-hard Neutra lomo church-key chia.</blockquote>