<form>
  <label for="thx-choose-action">Choose action:</label>
  <select name="thx-choose-action">
    <option value="">Choose action</option>
    <option value="CreateTheme">Create theme</option>
    <option value="Export">Export layout</option>
  </select>
</form>
