.upfront-export-postpart {
  position: absolute;
  bottom: 10px;
  right: 80px;
  border: 2px solid #3d5266;
  color: #dae6f2 !important;
  padding: 3px 7px;
  font-size: 14px; }

.upfront-export-postpart:hover {
  border-color: #3ea; }

#sidebar-ui .create-theme-sidebar .sidebar-commands-header {
  background: #1f2933; }

#sidebar-ui .create-theme-sidebar .command-logo:after {
  content: 'BUILDER';
  float: right;
  background: rgba(221, 223, 224, 0.8);
  font: 600 11px Open Sans;
  color: #1f2933;
  position: relative;
  right: 10px;
  top: 5px;
  padding: 3px 5px;
  border-radius: 6px; }

#sidebar-ui .create-theme-sidebar .sidebar-commands-primary .info-panel {
  font-size: 11px;
  line-height: 16px;
  display: block;
  color: #6c8dac;
  margin: 0 0 8px; }
  #sidebar-ui .create-theme-sidebar .sidebar-commands-primary .info-panel b {
    font-weight: bold;
    color: #adc3d8; }

#sidebar-ui .create-theme-sidebar .sidebar-commands-primary .command-browse-layout {
  float: left;
  line-height: 34px;
  padding: 0 10px;
  font-size: 15px;
  height: 35px;
  width: 116px;
  text-align: center;
  opacity: .8;
  background: #54708C;
  box-shadow: 0px 1px 0px 0px #2F3E4D, inset 0px 2px 0px 0px rgba(255, 255, 255, 0.1); }
  #sidebar-ui .create-theme-sidebar .sidebar-commands-primary .command-browse-layout:hover {
    opacity: 1;
    color: #cbe5ff; }

#sidebar-ui .create-theme-sidebar .sidebar-commands-primary .command-open-exporter_media {
  max-width: 120px;
  font-size: 11px;
  line-height: 18px; }
  #sidebar-ui .create-theme-sidebar .sidebar-commands-primary .command-open-exporter_media a {
    color: #adc3d8;
    display: block;
    margin: 0 0 0 20px;
    opacity: 0.7; }
    #sidebar-ui .create-theme-sidebar .sidebar-commands-primary .command-open-exporter_media a:before {
      content: " ";
      display: inline-block;
      width: 12px;
      height: 12px;
      background-image: url("../../../../themes/upfront/img/uf-ui-sprite.png");
      background-image: url("../../../../themes/upfront/img/uf-ui-sprite.svg");
      background-repeat: no-repeat;
      vertical-align: top;
      margin: 4px 5px 0 0; }
    #sidebar-ui .create-theme-sidebar .sidebar-commands-primary .command-open-exporter_media a.images:before {
      background-position: -196px -182px; }
    #sidebar-ui .create-theme-sidebar .sidebar-commands-primary .command-open-exporter_media a.sprites:before {
      background-position: -196px -284px; }
    #sidebar-ui .create-theme-sidebar .sidebar-commands-primary .command-open-exporter_media a:hover {
      opacity: 1; }

#sidebar-ui .sidebar-commands-control .command-grid {
  float: right;
  margin: 0 10px 0 0; }

#sidebar-ui .sidebar-commands-control .command-create-responsive-layouts {
  font-size: 13px;
  max-width: 122px;
  line-height: 26px;
  padding: 0px 6px;
  height: auto;
  max-height: 26px;
  border: 1px solid #6c8dac;
  border-radius: 2px;
  margin: 0 0 0 10px; }

#sidebar-ui .sidebar-commands-control .command-export {
  clear: both;
  display: block;
  background: #1fcd8f;
  box-shadow: 0 1px 0 rgba(37, 58, 77, 0.5);
  color: #f1f8ff;
  font-size: 18px;
  margin: 15px 0 0 10px;
  padding: 0 10px 0 10px;
  line-height: 40px;
  height: 40px;
  width: 130px;
  text-align: center; }

#sidebar-ui .sidebar-commands-responsive .command-browse-layout {
  background: #54708C;
  box-shadow: 0px 1px 0px 0px #2F3E4D, inset 0px 2px 0px 0px rgba(255, 255, 255, 0.1);
  line-height: 34px;
  padding: 0 10px;
  border: 2px solid #25394d;
  font-size: 15px;
  height: 40px;
  max-width: 110px; }

.upfront-inline-modal {
  /* Layouts browse modal */ }
  .upfront-inline-modal .thx-browse_layouts {
    padding: 0; }
    .upfront-inline-modal .thx-browse_layouts .thx-layouts-header {
      padding: 16px;
      height: 48px;
      border-bottom: 1px solid #ccc; }
      .upfront-inline-modal .thx-browse_layouts .thx-layouts-header h3 {
        float: left; }
      .upfront-inline-modal .thx-browse_layouts .thx-layouts-header a {
        display: block;
        float: right;
        text-decoration: none;
        font-size: 32px;
        color: #000; }
    .upfront-inline-modal .thx-browse_layouts .thx-layouts-pane {
      padding: 16px;
      border-top: 1px solid #fff; }
      .upfront-inline-modal .thx-browse_layouts .thx-layouts-pane.existing {
        background-color: #e5f3ff; }
      .upfront-inline-modal .thx-browse_layouts .thx-layouts-pane.available {
        background-color: #c8e1f6; }
      .upfront-inline-modal .thx-browse_layouts .thx-layouts-pane .upfront-field-button {
        background: #1fcd8f;
        padding: 10px;
        color: white;
        font-size: 15px; }
  .upfront-inline-modal .thx-all_layouts .thx-layouts-pane {
    width: 50%;
    float: left; }

/* Getting Started Experience */
#upfront-popup.getting-started-popup {
  max-width: 520px;
  margin: initial;
  z-index: 10001005;
  left: 250px; }
  #upfront-popup.getting-started-popup:before {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #fff;
    content: '';
    height: 0;
    margin-left: -8px;
    margin-top: 95px;
    position: absolute;
    width: 0; }
  #upfront-popup.getting-started-popup #upfront-popup-close {
    display: none; }
  #upfront-popup.getting-started-popup .getting_started_content {
    background: #fff;
    position: relative;
    border-radius: 5px; }
    #upfront-popup.getting-started-popup .getting_started_content .description {
      padding: 30px;
      line-height: 1.4; }
      #upfront-popup.getting-started-popup .getting_started_content .description strong {
        font-weight: bold; }
      #upfront-popup.getting-started-popup .getting_started_content .description a {
        border-bottom: 1px solid rgba(55, 147, 255, 0.6);
        color: #3793ff;
        font-weight: 600;
        padding-bottom: 2px; }
    #upfront-popup.getting-started-popup .getting_started_content .controls {
      position: absolute;
      width: 100%;
      padding: 10px 30px 0 30px; }
      #upfront-popup.getting-started-popup .getting_started_content .controls .left {
        float: left; }
      #upfront-popup.getting-started-popup .getting_started_content .controls .right {
        float: right; }
      #upfront-popup.getting-started-popup .getting_started_content .controls:after {
        content: ' ';
        display: table;
        clear: both; }
      #upfront-popup.getting-started-popup .getting_started_content .controls button, #upfront-popup.getting-started-popup .getting_started_content .controls .pagination {
        display: inline-block;
        width: auto;
        padding-left: 15px;
        padding-right: 15px; }
      #upfront-popup.getting-started-popup .getting_started_content .controls .pagination {
        padding-left: 0;
        color: #b9b9b9;
        font-size: 18px; }
        #upfront-popup.getting-started-popup .getting_started_content .controls .pagination strong {
          color: #fff;
          padding-right: 5px; }
        #upfront-popup.getting-started-popup .getting_started_content .controls .pagination em {
          font-style: italic;
          font-family: Georgia, Times, serif;
          padding-right: 5px; }
      #upfront-popup.getting-started-popup .getting_started_content .controls button {
        background: #445462;
        border: none;
        border-radius: 2px;
        padding: 5px 20px;
        color: #fff;
        text-transform: none; }
      #upfront-popup.getting-started-popup .getting_started_content .controls button.skip {
        border: none;
        color: #65bcf0;
        font-weight: 600;
        background: transparent; }
      #upfront-popup.getting-started-popup .getting_started_content .controls button.prev {
        background: transparent;
        margin-right: 10px; }
      #upfront-popup.getting-started-popup .getting_started_content .controls button.finish {
        background: #1fcd8f; }

#sidebar-ui .no-click-overlay {
  position: absolute;
  width: 100%;
  height: 450px;
  z-index: 10;
  background: transparent;
  margin-left: -15px;
  cursor: initial; }

#sidebar-ui.show-primary-sidebar {
  z-index: 10001004; }
  #sidebar-ui.show-primary-sidebar #preventUsageOverlay {
    display: block !important; }
  #sidebar-ui.show-primary-sidebar ul.sidebar-commands-primary {
    z-index: 11;
    position: relative; }
    #sidebar-ui.show-primary-sidebar ul.sidebar-commands-primary li.no-click-overlay {
      cursor: initial; }
  #sidebar-ui.show-primary-sidebar li.sidebar-panel-elements .sidebar-panel-content {
    height: auto; }

#sidebar-ui.show-sidebar-panel-settings {
  z-index: 10001004; }
  #sidebar-ui.show-sidebar-panel-settings #preventUsageOverlay {
    display: block !important; }
  #sidebar-ui.show-sidebar-panel-settings li.sidebar-panel-settings {
    z-index: 11;
    position: relative; }
    #sidebar-ui.show-sidebar-panel-settings li.sidebar-panel-settings .sidebar-panel-content {
      height: auto; }
    #sidebar-ui.show-sidebar-panel-settings li.sidebar-panel-settings .no-click-overlay {
      margin-left: 0; }

#sidebar-ui.show-sidebar-commands-control {
  z-index: 10001004; }
  #sidebar-ui.show-sidebar-commands-control #preventUsageOverlay {
    display: block !important; }
  #sidebar-ui.show-sidebar-commands-control ul.sidebar-commands-control {
    z-index: 11;
    position: relative; }
    #sidebar-ui.show-sidebar-commands-control ul.sidebar-commands-control li.no-click-overlay {
      height: 400px;
      margin: 0;
      padding: 0;
      cursor: initial; }
  #sidebar-ui.show-sidebar-commands-control li.sidebar-panel-elements .sidebar-panel-content {
    height: auto; }

#upfront-popup.getting-started-popup.step-two-popup {
  top: 200px;
  left: 280px; }

#upfront-popup.getting-started-popup.step-three-popup {
  top: 370px;
  left: 265px; }
  #upfront-popup.getting-started-popup.step-three-popup:before {
    margin-top: 110px; }
  #upfront-popup.getting-started-popup.step-three-popup .getting_started_content .controls {
    top: -45px;
    padding: 0 30px 10px 30px; }

/*# sourceMappingURL=exporter.css.map */